<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <h1>Byte Insider</h1>
    </div>
    <div class="footer-links">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/Privacy">Privacy Policy</a>
    </div>
  </div>
</footer>
