<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Byte Insider - Tech Blogging Site</title>
    <link rel="icon" href="/images/byte.png" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/error.css" />
  </head>
  <body>
    <div class="container">
      <img src="/images/404 Error.gif" alt="404 Error" />
      <h1>404 Error</h1>
      <p>Page Not Found</p>
      <a href="/">Go to Homepage</a>
    </div>
  </body>
</html>
